{% extends 'base.html' %}

{% block content %}
<div class="container">
    <br>
    <nav aria-label="breadcrumb" class="mt-3">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'products:home' %}">Главная</a></li>
            <li class="breadcrumb-item active" aria-current="page">Профиль</li>
        </ol>
    </nav>

    <h3 class="mt-3">Профиль пользователя</h3>

    <div class="card mt-3 border-warning bg-light mb-3">
        <div class="card-body">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Email: {{ user_profile.user.email }}</li>
                <li class="list-group-item">Имя: {{ user_profile.first_name }}</li>
                <li class="list-group-item">Фамилия: {{ user_profile.last_name }}</li>
                <li class="list-group-item">Адрес: {{ user_profile.address }}</li>
                <li class="list-group-item">Номер телефона: {{ user_profile.phone_number }}</li>
                <li class="list-group-item"></li>
            </ul>
        </div>
    </div>

    <div style="padding-bottom: 10px;">
        {% if user_profile.orders.count %}
        <h3 class="mt-3">Ваши заказы:</h3>
        {% for order in user_profile.orders.all %}
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading-{{ forloop.counter }}">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-parent="#accordion"
                        data-bs-target="#collapse-{{ forloop.counter }}" aria-expanded="false"
                        aria-controls="collapse-{{ forloop.counter }}">
                        {{ order.created }}
                    </button>
                </h2>

                <div id="collapse-{{ forloop.counter }}" class="accordion-collapse collapse"
                    aria-labelledby="heading-{{ forloop.counter }}" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <div class="card mt-3 border-success bg-light mb-3">
                            <div class="card-body">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">Статус: {{ order.get_status_display }}</li>
                                    <li class="list-group-item">Тип: {{ order.get_orderType_display }}</li>
                                    <li class="list-group-item">Тип оплаты: {{ order.get_payment_display }}</li>
                                    <li class="list-group-item">Адрес доставки: {{ order.address }}</li>
                                    <li class="list-group-item">Телефон: {{ order.phone }}</li>
                                    <li class="list-group-item"></li>
                                </ul>
                                <h6 class="card-text">Продукты:</h6>

                                <div class="list-group-item list-group-item-primary">
                                    {% for order_item in order.products.all %}
                                    <a class="list-group-item list-group-item-action"
                                        href="{{ order_item.product.get_absolute_url }}">
                                        <div class="d-flex w-1000 justify-content-between align-items-center">
                                            {{ order_item.product.name }}
                                            <span class="badge alert-success">Countity: {{ order_item.quantity }}</span>
                                        </div>
                                    </a>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <h3 class="mt-3">Заказов нет</h3><br>
        {% endif %}
    </div>


</div>
{%endblock %}