{% extends 'base.html' %}

{% block content %}
<div class="container">
    <br>
    <nav style="background-color: white; opacity: .6;" saria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'products:home' %}">Главная</a></li>
            <li class="breadcrumb-item active" aria-current="page">Корзина</li>
        </ol>
    </nav>

    {% if cart.products.count %}
    <div class="row bg-dark" style="margin-bottom: 10px">
        <div class="col-lg-12 col-md-12 col-12">
            <table class="table table-condensed ">
                <thead>
                    <tr>
                        <th style="width:30%">Изображение</th>
                        <th style="width:20%">Название</th>
                        <th style="width:10%">Количество</th>
                        <th style="width:15%">Цена</th>
                        <th style="width:10%">Удалить</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cart_product in cart.products.all %}
                    <tr>
                        <th class="w-10"><img src="{{ cart_product.product.image.url }}" class="img-fluid">
                        </th>
                        <td>{{ cart_product.product.name }}</td>
                        <td>
                            <form action="{% url 'change_quantity' slug=cart_product.product.slug %}" method="POST">
                                {% csrf_token %}
                                <input type="number" class="form-control" min="1" max="100" name="quantity"
                                    value="{{ cart_product.quantity }}" onchange="this.form.submit()">
                            </form>
                        </td>
                        <td>{{ cart_product.overall_price }} BYN</td>
                        <td><a href="{% url 'delete_from_cart' slug=cart_product.product.slug %}">
                                <button class="btn btn-danger"><img src="/static/img/remove.svg" alt="" width="30"
                                        height="24"></button>
                            </a></td>
                    </tr>
                    {% endfor %}
                    <tfoot>
                        <tr>
                             <td><h5 class="text-white mb-3">Общая цена: {{ cart.overall_price }} BYN</h5></td>
                             <td><h5 class="text-white mb-3">Количество товаров: {{ cart.products.count }}</h5></td>
                             <td></td>
                             <td></td>
                            <td colspan="3"><a href="{% url 'orders:make_order' %}"><button class="btn btn-success text-center">Оформить
                                заказ</button></a></td>
                        </tr>
                    </tfoot>
                </tbody>
            </table>
        </div>
    </div>
    {% else %}

    <div class="cart-form__body">
        <div class="cart-container cart-container_max-width_xxxxxl">
            <div class="cart-message">
                <div class="cart-message__content">
                    <div class="cart-container cart-container_max-width_xxlmm">
                        <div class="cart-message__preview">
                            <div class="cart-message__image cart-message__image_volley"></div>
                        </div>
                        <div style="background: #212529; color: white; padding-bottom: 8px; opacity: .80; ">
                            <div class="cart-message__title cart-message__title_big">
                                <h5 class="h1 text-white"> Ваша корзина пуста </h5>

                            </div>
                            <div
                                class="cart-message__description cart-message__description_primary cart-message__description_middle cart-message__description_extended-additional">
                                <h5 class="text-white mb-3">Перейдите в <a href="{% url 'products:home' %}">каталог</a>
                                    и добавьте товары.</h5>
                                {% if not user.is_authenticated %}
                                <h5 class="text-white mb-3">Наполняли корзину ранее? <a href="{% url 'login' %}">Войдите
                                        на сайт</a>,
                                    и выбранные вами товары появятся.</h5>
                                {% endif %}
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    {% endif %}
</div>
{% endblock %}