{% extends 'base.html' %}

{% block title %}Volley By{% endblock %}

{% block content %}

{% block content %}
<div class="container">
    <div class="row">
        {% for product in products %}
        <div class="col-lg-4 col-md-6 mb-4" style="width: 18rem;">
            <div class="card">
                <a href="{{ product.get_absolute_url }}"><img class="card-img-top" src="{{ product.image.url }}"
                        alt=""></a>
                <div class="card-body">
                    <h4 class="card-title">{{ product.name }}</h4>
                    <h5>{{ product.price }} BYN</h5>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}