{% extends 'base.html' %}

{% block title %}{{ product.name }}{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img src="{{ product.image.url }}" class="img-fluid">
        </div>
        <div class="col-md-8">
            <h3>{{ product.name }}</h3>
            <p>Цена: {{ product.price }} BYN</p>
            <p>Описание: {{ product.description }}</p>
            <form class="form-inline">
                <button type="button" class="btn btn-outline-success">Добавить в корзину</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
