.html {
    position: relative;
    min-height: 100%;
}

.search-bar {
    margin-right: 1em !important;
    justify-content: center;
    width: 1000px;
    justify-content: space-evenly;
}

.navbar-brand {
    font-size: 25pt;
    padding-left: 150px;
}

.navbar-collapse {
    justify-content: space-evenly;
}

.nav-link {
	margin-right: 1em !important;
}

#sidebar {
    opacity: .8;
    background: #212529;
    opacity: 0.8;
    min-height: 30vh;
    margin-bottom: 30px;

}

#sidebar h3 {
    color: white;
}

#sidebar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 20px;
    text-decoration: none;
}

#sidebar ul li {
    /* background-color: #adccee; */
    padding: 5px 10px;
}

#sidebar ul li a {
    display: block;
    color: white;
    text-decoration: none;
}

#sidebar ul li:hover {
    background-color: #adccee;
}

#sidebar ul li:hover a {
    color: black;
}

#sidebar ul li.selected {
    background: #c1bcb7;
    color: white;
    border-radius: 3px;
}

.login-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}

.login-container h3 {
    text-align: center;
    color: #333;
}

.login-container .btnSubmit {
    width: 50%;
    border-radius: 0.5rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
    font-weight: 600;
    color: #fff;
    background-color: #212529;
    opacity: 0.8;
}

.login-container .btnSubmit:hover {
    background-color: #212578;
}

.login-container .link {
    color: white;
    font-weight: 600;
    text-decoration: none;
}
