.search-bar {
    margin-right: 1em !important;
    justify-content: center;
    width: 1000px;
    justify-content: space-evenly;
}

.navbar-brand {
    font-size: 25pt;
    padding-left: 150px;
}

.navbar-collapse {
    justify-content: space-evenly;
}

.nav-link {
	margin-right: 1em !important;
}
